@model SPG.strojevi

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da želite izbrisati ovaj stroj?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.datum_kupovine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_kupovine)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.trosak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trosak)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.vrijednost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrijednost)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.parcele.koordinate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcele.koordinate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
