@model SPG.strojevi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>strojevi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum kupovine
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_kupovine)
        </dd>

        <dt>
            Trošak
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trosak)
        </dd>

        <dt>
            Vrijednost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrijednost)
        </dd>

        <dt>
            Koordinate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcele.koordinate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
