@model SPG.strojevi

@{

ViewBag.Title = "Details";
IEnumerable<radnje_stroja> radnje = ViewData["Radnje"] as IEnumerable<radnje_stroja>;
}

<h2>Detalji o stroju</h2>

<div class="row">
    <div class="d-flex flex-column col-4 justify-content-start>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Naziv
            </dt>

            <dd>
                @Html.DisplayFor(model => model.naziv)
            </dd>

            <dt>
                Datum kupovine
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datum_kupovine)
            </dd>

            <dt>
                Trošak
            </dt>

            <dd>
                @Html.DisplayFor(model => model.trosak)
            </dd>

            <dt>
                Vrijednost
            </dt>

            <dd>
                @Html.DisplayFor(model => model.vrijednost)
            </dd>


        </dl>

        <hr />
        <p class="mt-4">
            @Html.ActionLink("Uredi stroj", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Natrag na listu", "Index")
        </p>

    </div>

    <div class="d-flex flex-column col-8">

        <h2>Radnje stroja</h2>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-punjenja" role="tabpanel" aria-labelledby="pills-punjenja-tab">
                <button type="button" class="btn btn-basic">@Html.ActionLink("Nova radnja", "Create", "radnjeStroja", new { id = Model.id }, null)</button>
                <table class="table">
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Trošak
                        </th>
                        <th>
                            Profit
                        </th>
                        <th>
                            Tip radnje
                        </th>
                        <th>
                            Akcije
                        </th>
                    </tr>
                    @foreach (var item in radnje)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.trosak)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.profit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tip_radnje_stroja1.naziv)
                        </td>
                        <td>
                            @Html.ActionLink("Uredi", "Edit", new { controller = "radnjeStroja", id = item.id }) |
                            @Html.ActionLink("Detalji", "Details", new { controller = "radnjeStroja", id = item.id }) |
                            @Html.ActionLink("Izbrisi", "Delete", new { controller = "radnjeStroja", id = item.id })
                        </td>
                    </tr>
                    }
                </table>
            </div>


        </div>

    </div>
