@model SPG.prodaje_sirovina

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da zelite izbrisati ovu prodaju ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sirovine.naziv)
        </dd>

        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Profit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profit)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbrisi" class="btn btn-default" />
        </div>
    }
</div>
