@model SPG.zivotinje

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Jeste li sigurni da želite izbrisati ovu životinju?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vrsta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrsta)
        </dd>

        <dt>
            Broj taga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_taga)
        </dd>

        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Uzrok smrti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzrok_smrti)
        </dd>

        <dt>
            Farma
        </dt>

        <dd>
            @Html.DisplayFor(model => model.farme.naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbrisi" class="btn btn-default" />
        </div>
    }
</div>
