@model SPG.sadnje

@{
    ViewBag.Title = "Delete";
}

<h2>Izbriši sadnju</h2>

<h3>Jeste li sigurni da želite pobrisati podatke o ovoj sadnji?</h3>
<div>
    <h4>sadnje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Troškovi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.troskovi)
        </dd>

        <dt>
            Biljka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biljke.naziv)
        </dd>

        <dt>
            Oranica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oranice.naziv)
        </dd>

        <dt>
            Sezona
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sezone.sezona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
