@model IEnumerable<SPG.sadnje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.troskovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biljke.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oranice.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sezone.sezona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.troskovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biljke.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oranice.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sezone.sezona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
