@model SPG.farme

@{
    ViewBag.Title = "Details";
}

<h2>Detalji o farmi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt class="text-capitalize">
            Parcela
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcele.naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Nazad na listu", "Index", "parcele")
</p>
