@model SPG.punjenje_mljekomata

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji punjenja</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Troškovi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.troskovi)
        </dd>

        <dt>
            Profit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profit)
        </dd>

        <dt>
            Preostala količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preostala_kolicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Natrag na listu", "Index", "mljekomati")
</p>
