@model SPG.radnje_stroja

@{
    ViewBag.Title = "Details";
}

<h2>Detalji radnje stroja</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Trošak
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trosak)
        </dd>

        <dt>
            Profit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profit)
        </dd>

        <dt>
            Stroj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strojevi.naziv)
        </dd>

        <dt>
            Tip radnje stroja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip_radnje_stroja1.naziv)
        </dd>

    </dl>
</div>