@model SPG.servisi_mljekomata

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji servisa</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Troškovi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.troskovi)
        </dd>

        <dt>
            Lokacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mljekomati.lokacija)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Natrag na listu", "Index")
</p>
