@model SPG.berbe

@{
    ViewBag.Title = "Delete";
}

<h2>Izbriši berbu</h2>

<h3>Jeste li sigurni da želite pobrisati podatke o ovoj berbi?</h3>
<div>
    <h4>berbe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Količina berbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Ukupno posađeno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sadnje.kolicina)
        </dd>

        <dt>
            Sezona
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sezone.sezona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
