@model SPG.berbe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>berbe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sadnje.kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sadnje.kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sezone.sezona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sezone.sezona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
