@model SPG.sirovine

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da zelite izbrisati ovu sirovinu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Količina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolicina)
        </dd>

        <dt>
            Vrsta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zivotinje.vrsta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbrisi" class="btn btn-default" />
        </div>
    }
</div>
