@model SPG.mljekomati

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lokacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lokacija)
        </dd>

        <dt>
            Kapacitet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kapacitet)
        </dd>

        <dt>
            Vlasnik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gospodarstva.ime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi mljekomat", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Natrag na listu", "Index")
</p>
