@model IEnumerable<SPG.mljekomati>

@{
    ViewBag.Title = "Mljekomat";
}

<h2>Mljekomati</h2>

<p>
    @Html.ActionLink("Novi mljekomat", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Lokacija
        </th>
        <th>
            Kapacitet
        </th>
        <th>
            Gospodarstvo
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lokacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kapacitet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gospodarstva.ime)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.id }) |
            @Html.ActionLink("Izbriši", "Delete", new { id = item.id })
        </td>
        <td>
            <button type="button" class="btn btn-basic">@Html.ActionLink("Punjenje", "Create", "punjenjeMljekomata", new { id = item.id }, null)</button>
        </td>
        <td>
            <button type="button" class="btn btn-basic">@Html.ActionLink("Servis", "Create", "servisiMljekomata", new { id = item.id }, null)</button>
        </td>
    </tr>
}

</table>
