@model IEnumerable<SPG.zadruge>

@{
    ViewBag.Title = "Index";
    gospodarstva korisnik = ViewData["Korisnik"] as gospodarstva;
}

<h2>Zadruge</h2>

<button class="btn btn-default">
    @Html.ActionLink("Napravi zadrugu", "Create")
</button>

<div>
    @if (korisnik.id_zadruge != null) {
    <p class="mb-0">Član ste zadruge: @Html.Raw(korisnik.zadruge.ime)</p>
    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>Akcije</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-capitalize">
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @if (item.id == korisnik.id_zadruge)
            {
                @Html.ActionLink("Uredi", "Edit", new { id = item.id });
            }
            |
            @if (item.id == korisnik.id_zadruge)
            {
                @Html.ActionLink("Izbriši", "Delete", new { id = item.id });
            }
        </td>
        <td>
            <button class="btn btn-default">
                @Html.ActionLink("Članovi", "Details", new { id = item.id })
            </button>
            <button class="btn btn-default">
                @Html.ActionLink("Pridruži se zadruzi", "Join", new { id = item.id })
            </button>
        </td>
    </tr>
}

</table>
