@model SPG.zadruge

@{
    ViewBag.Title = "Join";
}

<h2>Pridruzivanje</h2>

<h3>Jeste li sigurni da se zelite pridruziti ovoj zadruzi? Izaci cete iz prethodne zadruge!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Html.DisplayFor(model => model.id)" name="id_zadruge"/>
        <div class="form-actions no-color">
            <input type="submit" value="Pridruzi" class="btn btn-default" />
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
