@model SPG.oranice

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da zelite izbrisati ovu oranicu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt class="text-capitalize">
            Parcela
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcele.naziv)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.dimenzije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimenzije)
        </dd>

        <dt>
            Stanje tla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanje_tla1.stanje)
        </dd>

        <dt>
            Vrsta tla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrste_tla.vrsta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" />
        </div>
    }
</div>
