@model SPG.oranice

@{
    ViewBag.Title = "Details";
    IEnumerable<berbe> berbe = ViewData["Berbe"] as IEnumerable<berbe>;
    IEnumerable<sadnje> sadnje = ViewData["Sadnje"] as IEnumerable<sadnje>;
    IEnumerable<prodaje_biljaka> prodaje = ViewData["Prodaje"] as IEnumerable<prodaje_biljaka>;
}

<h2>Detalji o oranici</h2>

<div class="row">
    <div class="d-flex flex-column col-4 justify-content-start">
        <hr />
        <dl class="dl-horizontal">
            <dt class="text-capitalize">
                @Html.DisplayNameFor(model => model.naziv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.naziv)
            </dd>

            <dt class="text-capitalize">
                @Html.DisplayNameFor(model => model.dimenzije)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dimenzije)
            </dd>

            <dt class="text-capitalize">
                Stanje tla
            </dt>

            <dd class="text-capitalize">
                @Html.DisplayFor(model => model.stanje_tla1.stanje)
            </dd>

            <dt>
                Vrsta tla
            </dt>

            <dd>
                @Html.DisplayFor(model => model.vrste_tla.vrsta)
            </dd>

            <dt class="text-capitalize">
                @Html.DisplayNameFor(model => model.parcele)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parcele.lokacija)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Nazad na listu", "Index")
        </p>
    </div>

    <div class="d-flex flex-column col-8">
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-sadnje-tab" data-toggle="pill" href="#pills-sadnje" role="tab" aria-controls="pills-sadnje" aria-selected="true">Sadnje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-berbe-tab" data-toggle="pill" href="#pills-berbe" role="tab" aria-controls="pills-berbe" aria-selected="false">Berbe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-prodaje-tab" data-toggle="pill" href="#pills-prodaje" role="tab" aria-controls="pills-prodaje" aria-selected="false">Prodaje</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-sadnje" role="tabpanel" aria-labelledby="pills-sadnje-tab">
                <button class="btn btn-basic">
                    @Html.ActionLink("Nova sadnja", "Create", new { controller = "sadnje", id = Model.id })
                </button>
                <table class="table">
                    <tr>
                        <th>
                            Biljka
                        </th>
                        <th>
                            Datum sadnje
                        </th>
                        <th>
                            Količina
                        </th>
                        <th>
                            Troškovi
                        </th>
                        <th>
                            Sezona
                        </th>
                        <th>
                            Akcije
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in sadnje)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.biljke.naziv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kolicina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.troskovi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sezone.sezona)
                            </td>
                            <td>
                                @Html.ActionLink("Uredi", "Edit", new { id = item.id, controller = "sadnje" }) |
                                @Html.ActionLink("Detalji", "Details", new { id = item.id, controller = "sadnje" }) |
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.id, controller = "sadnje" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-basic">@Html.ActionLink("Dodaj berbu", "Create", "berbe", new { id = item.id }, null)</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="tab-pane fade show" id="pills-berbe" role="tabpanel" aria-labelledby="pills-berbe-tab">
                <table class="table">
                    <tr>
                        <th>
                            Biljka
                        </th>
                        <th>
                            Datum berbe
                        </th>
                        <th>
                            Količina
                        </th>
                        <th>
                            Sezona
                        </th>
                        <th>
                            Akcije
                        </th>
                    </tr>
                    @foreach (var item in berbe)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.sadnje.biljke.naziv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kolicina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sezone.sezona)
                            </td>
                            <td>
                                @Html.ActionLink("Uredi", "Edit", new { id = item.id, controller = "berbe" }) |
                                @Html.ActionLink("Detalji", "Details", new { id = item.id, controller = "berbe" }) |
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.id, controller = "berbe" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-basic">@Html.ActionLink("Dodaj prodaju", "Create", "prodajeBiljaka", new { id = item.id}, null)</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="tab-pane fade show" id="pills-prodaje" role="tabpanel" aria-labelledby="pills-prodaje-tab">
                <table class="table">
                    <tr>
                        <th>
                            Biljka
                        </th>
                        <th>
                            Količina
                        </th>
                        <th>
                            Profit
                        </th>
                        <th>
                            Akcije
                        </th>
                    </tr>
                    @foreach (var item in prodaje)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.berbe.sadnje.biljke.naziv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kolicina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.profit)
                            </td>
                            <td>
                                @Html.ActionLink("Uredi", "Edit", new { id = item.id, controller = "prodajeBiljaka" }) |
                                @Html.ActionLink("Detalji", "Details", new { id = item.id, controller = "prodajeBiljaka" }) |
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.id, controller = "prodajeBiljaka" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

   </div>
