@model SPG.oranice

@{
    ViewBag.Title = "Details";
}

<h2>Detalji o oranici</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt  class="text-capitalize">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt  class="text-capitalize">
            @Html.DisplayNameFor(model => model.dimenzije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimenzije)
        </dd>

        <dt>
            Stanje tla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanje_tla1.stanje)
        </dd>

        <dt  class="text-capitalize">
            @Html.DisplayNameFor(model => model.parcele.koordinate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcele.koordinate)
        </dd>

        <dt>
            Vrsta tla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrste_tla.vrsta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Nazad na listu", "Index", "parcele")
</p>
