@model SPG.parcele

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da zelite izbrisati ovu parcelu ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.koordinate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.koordinate)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.dimenzije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimenzije)
        </dd>

        <dt>
            Grad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gradovi.ime)
        </dd>

        <dt class="text-capitalize">
            @Html.DisplayNameFor(model => model.lokacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lokacija)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbrisi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
