@{
    ViewBag.Title = "Parcele";
    IEnumerable<parcele> parcele = ViewData["Parcele"] as IEnumerable<parcele>;
    IEnumerable<farme> farme = ViewData["Farme"] as IEnumerable<farme>;
    IEnumerable<oranice> oranice = ViewData["Oranice"] as IEnumerable<oranice>;
}
<h2>Parcele</h2>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-parcele-tab" data-toggle="pill" href="#pills-parcele" role="tab" aria-controls="pills-home" aria-selected="true">Parcele</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-farme-tab" data-toggle="pill" href="#pills-farme" role="tab" aria-controls="pills-profile" aria-selected="false">Farme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-oranice-tab" data-toggle="pill" href="#pills-oranice" role="tab" aria-controls="pills-contact" aria-selected="false">Oranice</a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-parcele" role="tabpanel" aria-labelledby="pills-parcele-tab">
        <button class="btn btn-basic">
            @Html.ActionLink("Nova parcela", "Create", "parcele")
        </button>
        <table class="table">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Koordinate
                </th>
                <th>
                    Dimenzije
                </th>
                <th>
                    Lokacija
                </th>
                <th>
                    Grad
                </th>
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (var item in parcele)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.koordinate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dimenzije)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gradovi.ime)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.id }) |
                    @Html.ActionLink("Izbrisi", "Delete", new { id = item.id })
                </td>
            </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="pills-farme" role="tabpanel" aria-labelledby="pills-farme-tab">
        <button class="btn btn-basic">
            @Html.ActionLink("Nova farma", "Create", "farme")
        </button>
        <table class="table">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Parcela
                </th>
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (var item in farme)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parcele.naziv)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = item.id, controller = "farme" }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.id, controller = "farme" }) |
                    @Html.ActionLink("Izbrisi", "Delete", new { id = item.id, controller = "farme" })
                </td>
            </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="pills-oranice" role="tabpanel" aria-labelledby="pills-oranice-tab">
        <button class="btn btn-basic">
            @Html.ActionLink("Nova oranica", "Create", "oranice")
        </button>
        <table class="table">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Parcela
                </th>
                <th>
                    Dimenzije
                </th>
                <th>
                    Stanje tla
                </th>
                <th>
                    Vrsta tla
                </th>
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (var item in oranice)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parcele.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dimenzije)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stanje_tla1.stanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vrste_tla.vrsta)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = item.id, controller = "oranice" }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.id, controller = "oranice" }) |
                    @Html.ActionLink("Izbrisi", "Delete", new { id = item.id, controller = "oranice" })
                </td>
            </tr>
            }
        </table>
    </div>
</div>
