@model SPG.gospodarstva

@{
    ViewBag.Title = "Delete";
}

<h3>Jeste li sigurni da zelite izbrisati profil?</h3>
<div>
    <h4>gospodarstva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            Kontakt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontakt)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
        </div>
    }
</div>
